<%= erb :head %>
<h1><%= @game.player1.name %> attacked <%= @game.player2.name %></h1>
<p>
<%= @game.player2.name %>: <span id='player-2-hp'>
  <%= @game.player2.hitpoints %>
</span>HP
</p>
<img class="player-2" src="img/ken-shoryu-ken.webp" />
<p>
  <strong>THAT'S GOTTA HURT</strong>
</p>

<a href='/play'>Next turn</a>

<%= erb :foot %>
